<div style="padding: 13px;">
    <mat-spinner *ngIf="customers.length === 0"></mat-spinner>


    <div class="form">
        <form>
            <label>Name:</label>
            <input name="name" [(ngModel)]="customerInfo.name" type="text">
            <br>
            <label>Address:</label>
            <input name="address" [(ngModel)]="customerInfo.address" type="text">
            <br>
            <label>Phone Number:</label>
            <input name="phoneNumber" [(ngModel)]="customerInfo.phoneNumber" type="text">

            <br>
            <button  type="submit" (click)="addCustomer()" >Add Customer</button>
            <button  type="submit" (click)="updateCustomer()" >Update Customer</button>
        </form>
    </div>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th></th>

        </tr>
        <tr *ngFor="let customer of customers" >
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td> <button (click)="editCustomer(customer)"> Edit </button><button (click)="deleteCustomer(customer.id)"> Delete </button> </td>
        </tr>
    </table>

</div>